<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Hull, Middle">
  <link
    name="Hull, Middle">
    <inertial>
      <origin
        xyz="-1.2619 -1.71630000002334E-07 -0.038115"
        rpy="0 0 0" />
      <mass
        value="3.333" />
      <inertia
        ixx="0.61191"
        ixy="6.46809999999998E-05"
        ixz="0.0040806"
        iyy="3.5097"
        iyz="1.36870000000023E-05"
        izz="3.5471" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Hull, Middle/meshes/Hull, Middle.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
        <texture
          filename="package://Hull, Middle/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Hull, Middle/meshes/Hull, Middle.STL" />
      </geometry>
    </collision>
  </link>
</robot>