<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mr1">
    <xacro:arg name="windType" default="global" />
    <xacro:arg name="waterType" default="global" />
    <xacro:property name="windType" value="$(arg windType)" />
    <xacro:property name="waterType" value="$(arg waterType)" />
    
    <xacro:property name="windType" value="global"/>
    <xacro:include filename="$(find usv_sim)/xacro/mr1_base_frame.xacro" />
    <xacro:include filename="$(find usv_sim)/xacro/mr1_hull.xacro" />


    <xacro:hull_link name="left_hull" parentLink="left_beam_attachment" />
    <xacro:hull_link name="right_hull" parentLink="right_beam_attachment" />
</robot>
